$background: #706366;
$color-primary: #eaeaea;
$color-focus: orange;
$color-hover: $color-focus;
$box-shadow-hover: 1px 1px 4px 2px rgba(255, 255, 255, 0.4); 
$color-hover: #ffcc6e;

$font-nav-head: 1.1em;
$font-nav-content: .9em;

//header

$background-left: $background;


//left

//content
$background-right: $background;

//right
$radio-checked: rgba(0,0,0,.3);
$radio-hover: rgba(255,255,255,.4);