#file-manager {
	widows: 600px;
	height: 500px;
	.head {

	}
	.content {
		height: 83%;
		padding: 10px;
		border: 1px solid #ccc;
		.item {
			width: 100px;
			margin: 10px 15px;
			float: left;
			img {
				width: 100%;
			}
			span {
				font-size: .8em;
			}
		}
	}

}